<%= form_with(model: cite) do |form| %>
  <% if cite.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cite.errors.count, "error") %> prohibited this cite from being saved:</h2>

      <ul>
        <% cite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
